@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: darkcyan;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

/* NAVIGATION SECTION START HERE */

.nait {
    background-color: #2c3e50;
}

/* .LOGO HERE */

.opt {
    height: 15vh;
}

.nam {
    font-size: 200%;
    font-weight: 1000;
    color: white;
    padding-top: 2%;
}

/* .OPTION SECTION START HERE */

.lis {
    padding-top: 3%;
    font-size: 110%;
    color: white;
    font-weight: 800;
}

.lis ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

/* LIST ANIMATION SECTION START HERE */

.lis ul li:hover {
    color: #1abc9c;
    transition: 0.7s;
}

/* WEB PAGE SECTION START HERE */

.icooo {
    background-color: #1abc9c;
    height: 115vh;
    padding-top: 4%;
}

.fupa {
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
}

.fupa p {
    font-size: 350%;
    position: relative;
    left: 30%;
    font-weight: 1000;
    width: 70%;
    color: white;
}

.imoo {
    height: 350px;
    width: 350px;
    position: relative;
    left: 38%;
}

.imoo2 {
    width: 300px;
    height: 50px;
    position: relative;
    left: 39%;
}

.fupa pre {
    font-size: 150%;
    font-family: "Roboto", sans-serif;
    color: white;
    font-weight: 800;
    position: relative;
    left: 32%;
    padding-top: 20px;
    width: 68%;
}

.lufa p {
    font-size: 250%;
    position: relative;
    left: 43%;
    padding-top: 5%;
    font-weight: 1000;
    color: #2c3e50;
    width: 50%;
    
}

.main2 {
    background-color: white;
}

.nupa {
    padding-bottom: 5%;
}

.imoo3 {
    width: 300px;
    height: 50px;
    position: relative;
    left: 40%;
}

.submain {
    height: 50vh;
}

.cardd1 {
    height: 250px;
}

.cardd2 {
    height: 250px;
}

.cardd3 {
    height: 250px;
}

.card1 {
    background-color: pink;
    height: 90%;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 10px;
}

.card1 img {
    border-radius: 10px;
}

.card2 {
    background-color: pink;
    height: 90%;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 10px;
}

.card2 img {
    border-radius: 10px;
}

.card3 {
    background-color: pink;
    height: 90%;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 10px;
}

.card3 img {
    border-radius: 10px;
}


.coverup {
    display: none;
}

.cardd1:hover .coverup{
        background-color: #1abc9c;
    height: 121%;
    display: block;
    width: 100%;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 10px;
    position: relative;
    bottom: 129%;
    right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 170%;
    color: white;
    font-weight: 900;
    transition: 0.6s;
    opacity: 0.9;
}

.cardd2:hover .coverup{
        background-color: #1abc9c;
    height: 121%;
    display: block;
    width: 100%;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 10px;
    position: relative;
    bottom: 129%;
    right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 170%;
    color: white;
    font-weight: 900;
    transition: 0.6s;
    opacity: 0.9;
}

.cardd3:hover .coverup{
        background-color: #1abc9c;
    height: 121%;
    display: block;
    width: 100%;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 10px;
    position: relative;
    bottom: 129%;
    right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 170%;
    color: white;
    font-weight: 900;
    transition: 0.6s;
    opacity: 0.9;
}

.main4 {
    background-color: #1abc9c;
    padding-bottom: 5%;
    height: 100vh;
}

.jufa p {
    font-size: 250%;
    position: relative;
    left: 43%;
    padding-top: 5%;
    font-weight: 1000;
    color: #ffffff;
    width: 50%;
}

.parap {
    display: flex;
    justify-content: center;
    padding-top: 3%;
}

.para1 {
    width: 350px;
    font-size: 130%;
    color: white;
}

.para2 {
    width: 350px;
    padding-left: 40px;
    font-size: 130%;
    color: white;
}

.buttt {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.buttt input {
    width: 280px;
    height: 60px;
    background-color: transparent;
    border-color: white;
    border-radius: 10px;
    color: white;
    font-size: 110%;
}

.buttt input:hover {
    background-color: white;
    color: black;
}

.main5 {
    background-color: #ffffff;
    padding-bottom: 5%;
    height: 100vh;
}

.gufa p {
    font-size: 250%;
    position: relative;
    left: 43%;
    padding-top: 5%;
    font-weight: 1000;
    color: #2c3e50;
    width: 50%;
}

.cont {
    width: 50%;
    position: relative;
    left: 25%;
}

.cont input {
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 2px solid #2c3e50;
    margin-top: 3%;
    margin-bottom: 1%;
    outline: none;
}


.cont input::placeholder {
    font-size: 200%;
    font-weight: 300;
}

.cont .sen {
    width: 15%;
    height: 60px;
    background-color: #1abc9c;
    color: white;
    border: none;
    font-size: 110%;
    border-radius: 10px;
}

.main6 {
    background-color: #2C3E50;
    padding-top: 5%;
    padding-bottom: 5%;
}

/* FOOTER SECTION START HERE */

.foot1 {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot1 .loct {
    font-size: 170%;
    font-weight: 800;
    width: 60%;
}

.foot1 .adt {
    font-size: 130%;
    font-weight: 300;
    width: 60%;
}

.foot2 {
    color: white;
}

.foot2 .art {
    font-size: 170%;
    font-weight: 800;
    position: relative;
    left: 8%;
}

.foot2 ul {
    display: flex;
    list-style: none;
    font-size: 130%;
    justify-content: space-between;
    width: 60%;
}

.foot2 ul li {
    border: solid 1px #ffffff;
    border-radius: 47%;
    width: 40px;
    height: 40px;
    padding: 5px;
}

.aboo {
    color: white;
    font-size: 170%;
    font-weight: 800;
}

.naboo {
    color: #ffffff;
    font-size: 130%;
    font-weight: 300;
    width: 70%;
}

.foot2 ul li:hover {
    background-color: white;
    color: black;
    transition: 0.7s;
}

@media (min-width:992px) and (max-width:1199px) {

    .nait {
        height: 15vh;
    }

    .nam {
        font-size: 160%;
    }

    .lis {
        font-size: 100%;
    }

    .icooo {
        padding-top: 4%;
        height: 90vh;
    }

    .imoo {
        height: 250px;
        width: 250px;
    }

    .imoo2 {
        width: 200px;
        left: 38%;
        height: 40px;
    }

    .fupa p {
        font-size: 250%;
    }

    .fupa pre {
        font-size: 120%;
        left: 30%;
        padding-top: 10px;
    }

    .lufa p {
        font-size: 200%;
        left: 40%;
    }

    .imoo3 {
        width: 200px;
        height: 40px;
        left: 38%;
    }

    .submain {
        height: 45vh;
    }

    .card1 {
        height: 77%;
    }

    .card2 {
        height: 77%;
    }

    .card3 {
        height: 77%;
    }

    .jufa p {
        font-size: 200%;
        left: 40%;
    }

    .para1 {
        font-size: 110%;
        width: 300px;
    }

    .para2 {
        font-size: 110%;
        width: 300px;
    }

    .buttt input {
        width: 240px;
        margin-bottom: 5%;
    }

}

@media (min-width:1200px) and (max-width:1399px) {

    .icooo {
        height: 120vh;
    }

    .nam {
        font-size: 170%;
    }

    .main2 {
        height: 150vh;
    }

    .lufa p {
        left: 41%;
        font-size: 230%;
    }

    .imoo3 {
        left: 39%;
        width: 260px;
        height: 40px;
    }

    .main4 {
        height: 110vh;
    }

    .jufa p {
        left: 41%;
        font-size: 230%;
    }

    .gufa p {
        left: 39%;
        font-size: 230%;
    }

    .main5 {
        height: 110vh;
    }

    .foot1 .loct {
        font-size: 150%;
    }

    .foot1 .adt {
        font-size: 110%;
    }

    .foot2 .art {
        font-size: 150%;
    }

    .foot2 ul {
        font-size: 115%;
        width: 65%;
    }

    .foot2 ul li {
        border-radius: 48%;
    }

    .aboo {
        font-size: 150%;
    }

    .naboo {
        font-size: 110%
    }

}

@media (min-width:1400px) and (max-width:1500px) {

    .fupa p {
        left: 33%;
    }

    .imoo2 {
        left: 40%;
    }

    .fupa pre {
        left: 35%;
    }

    .icoooo {
        height: 120vh;
    }

    .main2 {
        height: 160vh;
    }

    .main4 {
        height: 112vh;
    }

    .main5 {
        height: 120vh;
    }

    .foot2 ul li {
        border-radius: 48%;
    }

}

@media (min-width:776px) and (max-width:991px) {

    .icooo {
        height: 100vh;
        padding-top: 6%;
    }

    .nam {
        font-size: 150%;
    }

    .imoo {
        height: 250px;
        width: 250px;
        left: 35%;
    }

    .fupa p {
        font-size: 280%;
        left: 25%;
        margin-top: 30px;
    }

    .imoo2 {
        width: 100px;
        height: 40px;
        left: 36%;
    }

    .fupa pre {
        font-size: 120%;
        left: 28%;
    }

    .lufa p {
        font-size: 190%;
        left: 40%;
    }

    .imoo3 {
        width: 60px;
        height: 30px;
        left: 39%;
    }

    .main2 {
        height: 105vh;
    }

    .submain {
        height: 30vh;
    }

    .card1 {
        height: 50%;
    }

    .card2 {
        height: 50%;
    }

    .card3 {
        height: 50%;
    }

    .main4 {
        height: 100vh;
        padding-top: 6%;
    }

    .jufa p {
        font-size: 190%;
        left: 41%;
    }

    .para1 {
        width: 250px;
        font-size: 110%;
    }

    .para2 {
        width: 290px;
        font-size: 110%;
    }

    .gufa p {
        font-size: 190%;
        left: 38%;
    }

    .cont {
        width: 80%;
        left: 10%;
    }

    .foot1 .loct {
        font-size: 150%;
    }

    .font1 .adt {
        font-size: 100%;
    }

    .font2 .art {
        font-size: 100%;
    }

    .font2 ul {
        font-size: 80%;
        width: 100%;
    }

}

@media (min-width:550px) and (max-width:775px) {

    .opt {
        height: 10vh;
        padding-top: 2%;
    }

    .nam {
        font-size: 85%;
    }

    .lis {
        display: none;
    }

    .imoo {
        width: 250px;
        height: 250px;
        left: 29%;
        margin-top: 10%;
    }

    .fupa p {
        font-size: 250%;
        left: 18%;
        margin-top: 5%;
    }

    .imoo2 {
        width: 200px;
        height: 35px;
        left: 34%;
    }

    .fupa pre {
        font-size: 140%;
        left: 13%;
    }

    .icooo {
        height: 105vh;
    }

    .main2 {
        height: 100vh;
    }

    .lufa p {
        font-size: 200%;
        left: 35%;
    }

    .imoo3 {
        width: 150px;
        height: 30px;
        left: 35%;
    }

    .main2{
        height: 430vh;
    }

    .submain {
        height: 200vh;
    }

    .parap{
        flex-direction: column;
    }

    .para1{
        margin-left: 18%;
    }

    .para2{
        margin-left: 18%;
        padding-left: 0;
    }

    .jufa  p{
        font-size: 200%;
        left: 37%;
    }

    .main4{
        height: 110vh;
    }

    .main5{
        height: 90vh;
    }

    .cont{
        width: 90%;
        left: 5%;
    }

    .gufa p{
        font-size: 200%;
        left: 33%;
    }

    .foot1 .loct{
        font-size: 200%;
    }

    .foot1 .adt{
        font-size: 150%;
    }

    .foot2 .art{
        font-size: 200%;
        left: 20%;
    }

    .foot2 ul{
        position: relative;
        left: 14%;
    }

    .foot3{
        position: relative;
        left: 18%;
    }

}

@media (min-width:350px) and (max-width:549px) {

    .nam{
        font-size: 130%;
        padding-top: 5%;
    }

    .lis{
        display: none;
    }

    .icooo{
        height: 70vh;
    }

    .fupa p{
        font-size: 150%;
        width: 70%;
        left: 17%;
        margin-top: 5%;
    }

    .imoo{
        height: 200px;
        width: 200px;
        left: 20%;
    }

    .imoo2{
        width: 150px;
        height: 25px;
        left: 30%;
    }

    .fupa pre{
        font-size: 100%;
        width: 90%;
        left: 5%;
    }

    .main2{
        height: 295vh;
    }

    .submain{
        height: 130vh;
    }

    .lufa p{
        font-size: 150%;
        left: 30%;
        margin-top: 10%;
    }

    .imoo3{
        width: 150px;
        height: 20px;
        left: 32%;
    }

    .card1{
        height: 80%;
    }

    .card2{
        height: 80%;
    }

    .card3{
        height: 80%;
    }

    .main4{
        height: 130vh;
    }

    .parap{
        flex-direction: column  ;
    }

    .jufa p{
        width: 50%;
        font-size: 150%;
        left: 32%;
    }

    .para1{
        width: 300px;
        margin-top: 10%;
        position: relative;
        left: 10%;
    }

    .para2{
        width: 300px;
        padding-left: 0;
        position: relative;
        left: 10%;

    }
    
    .gufa p{
        font-size: 150%;
        left: 28%;
        margin-top: 10%;
        width: 50%;
    } 
    
    .cont{
        width: 90%;
        left: 5%;
    }

    .cont .sen{
        width: 30%;
        margin-top: 10%;
    }

    .foot1{
        width: 80%;
    }

    .foot2{
        width: 80%;
        position: relative;
        left: 7%;
    }

    .foot3{
        width: 80%;
        position: relative;
        left: 7%;
    }

}